/* NavBar.css */

.navbar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
  }

  .Logo{
    width: 30px;
    border-radius: 50%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .search-box button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  